body{
    margin: 10px;
    padding: 25px;
}

p{
    border: 4px dotted #FFFFFF;
    border: 10px solid #5887CF;
    color: white;
    padding: 30px;
    position: relative; right: 50px; top: 100px; 
}

h1{
    color: #5887CF;
}

#relative{
    margin-left: 20px;
    text-align: center;
    position: relative; top: 100px; right: 100px;
}

h2{
    color: #5887CF;
    margin: 25px;
    position: relative; left: 20px; bottom: 50px;
}

h3{
    color: #5887CF;
    margin-top: 50px;
    margin-bottom:25px;
}

ul{
    color: white;
}

li{
    color: white;
}

#Other Info{
height: 100px;
position: relative; 
}

#Signature Heroes{
width: 50%;
}

#Awards{
width: 200px;
padding: 25px;
border: 25px solid #5887CF;
}